/*App*/

#outerWrap{
    background-color: rgb(255, 255, 247);
    min-width: 300px;
}
#innerWrap{
    display: relative;
    
    box-shadow: 0px 0px 100px black;

    width: 100%;
    max-width: 1000px;

    min-height: 100vh;
    height:100%;

    display: block;
    margin-left: auto;
    margin-right: auto;

    background-image: url("../img/BackgroundCropped.png");
}

/*Navbar*/

#navbar{
    height:80px;
    background:rgba(255, 255, 255, 0.493);
    font-size: 22px;
    font-weight: bold;

    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 50px black;
    margin-bottom:5px;
}

#navbar .link{
    border:solid black 5px;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    padding:10px;
}

/*Home*/




.icon{
    position: absolute;
    width:30px;
    height:auto;
    transform:translate(-50%,-80%);
}
