#Game{
    width:100%;
}

/*Header*/
#header{
    background-color: rgb(219, 253, 216);
    height:100px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap:20px;

    padding:20px;
}



.imagewrap{
    position: relative;
}

img{
    width: 100%;
    height:auto;
}

.icon{
    position: absolute;
    width:30px;
    height:auto;
    visibility: hidden;

    transform:translate(-50%,-80%);
}

.TargetMark{
    color: red;
}

.ClickMark{
    color:rgb(9, 216, 9);
}